{cover_enabled, true}.
{require_otp_vsn, "R13B04|R14|R15"}.
{plugins, [rebar_dialyzer_plugin]}.
{dialyzer_opts, [{warnings, [no_unused,
                             no_improper_lists, no_fun_app, no_match,
                             no_opaque, no_fail_call,
                             error_handling, no_match,
                             unmatched_returns,
                             behaviours, underspecs]}]}.
{erl_opts, [
%%	bin_opt_info,
%%	warn_missing_spec,
	warn_export_all
]}.
{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme,
              {"./README.md",
               "https://github.com/nivertech/util"}}]}.
{deps, [
  {ibrowse,               "3.0.4",{git, "git@github.com:nivertech/ibrowse.git",               {branch, "ori_changes_130512"}}}
]}.
